<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/gameday/style.css" />
    <title><%= boxscore.away.abbr %> @ <%= boxscore.home.abbr %></title>
  </head>

  <body>
    <!-- <form action="/getGames">
      <input type="submit" value="Submit" />
    </form> -->
    <h3></h3>
    <div class="boxscoreCon">
      <% Object.keys(boxscore.generateBoxscore()).forEach((a) => %>
      <span><%= a ) %></span>
    </div>
    <script src="js/gameday/main.js"></script>
  </body>
</html>
