<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Baseball Pitch Guesser</title>
  </head>
  <body>
    <h1>Baseball Pitch Guesser</h1>
    <h3>Today's Schedule</h3>

    <ul class="gamesList">
      <% for(i = 0; i < matchups.length; i++) { %>
      <li class="game">
        <a class="gameLink" href="game/<%= gameLinks[i] %>"
          ><%= matchups[i] %></a
        >
      </li>
      <% } %>
    </ul>

    <script src="js/main.js"></script>
  </body>
</html>
