* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: lightblue;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h1,
h2,
h3 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.gamesList {
  display: flex;
  flex-direction: column;
}
.game {
  font-size: 24px;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}
.gameLink {
  text-decoration: none;
}
.gameLink:hover {
  color: red;
  transform: scale(1.1);
}
.login {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;
}
#loginGoogle {
  font-size: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  /* margin: 5%; */
  width: 18rem;
}
