* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}
body {
  background: url("/bg.jpg");
  background-size: cover;
  height: 100vh;
  /* background-color: lightblue; */
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h1,
h2,
h3 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.gamesList {
  /* display: flex; */
  /* justify-self: center;
  flex-direction: column;
  align-content: center; */
  /* align-items: ; */
}
.gameCon {
  /* display: flex; */
  border-radius: 40px 0 40px 0;
  /* border-bottom: 4px; */
  width: 500px;
  /* align-content: center; */
  background-color: rgba(0, 0, 0, 0.75);
  /* justify-content: center; */
  /* flex-direction: column; */
}
.game {
  font-size: 24px;
  padding: 0.45rem 0;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  /* text-align: center; */
}
.gameLink {
  text-decoration: none;
  color: rgb(136, 104, 0);
}
.gameLink:hover {
  color: rgb(0, 100, 8);
  font-weight: 700;
  transform: scale(1.1);
}
.login {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;
}
