* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* width: 100vw; */
}
title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.mainCon {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.boxCon {
  display: inline-flex;
  width: 100vw;
  flex-direction: column;
  padding-left: 5%;
}
.boxLegend,
.homeBox,
.awayBox {
  display: flex;
  padding-left: 15%;
}
.blank {
  border: none !important;
}
.boxLegend > span,
.homeBox > span,
.awayBox > span {
  width: 80px;
  font-size: 30px;
  text-align: center;
  color: green;
  padding: 0 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
}
.currentInning {
}
.atBatDetails {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding-right: 5%;
}
.batZoneContainer {
  /* border: 2px solid black; */
  text-align: center;
  align-items: center;
  align-content: center;
  height: 300px;
  /* width: 600px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.centerZone {
  /* grid-area: 2 / 2 / 4 / 4; */
  grid-area: 2 / 2/ 2/ 2;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  /* grid-area: auto; */
  align-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.centerZone div {
  /* font-weight: bold; */
  border-radius: 5%;
  display: flex;
  text-align: center;
  align-content: center;
  height: 60px;
  width: 50px;
}
.batZoneTop {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.batZoneBottom {
  grid-column: 1 / span 3;
  grid-row: 3;
}
.batZoneLeft {
  grid-column: 1;
  grid-row: 1 / span 3;
}
.batZoneRight {
  grid-column: 3;
  grid-row: 1 / span 3;
}
.batZone:hover {
  cursor: crosshair;
}
/* .batZoneContainer {
  border: 2px solid black;
  text-align: center;
  align-items: center;
  align-content: center;
  height: 550px;
  width: 680px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
} */
.pitchIndicator {
  background-color: rgba(131, 42, 42, 0.75);
}
.batZone {
  /* width: 40px; */
  /* height: 40px; */
}
.batZoneTop,
.batZoneBottom,
.batZoneLeft,
.batZoneRight,
.batZone,
.centerZone {
  /* padding-top: 10px; */
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.batZoneTop,
.batZoneBottom {
  border-radius: 5%;
  /* width: 120px; */
  /* height: 40px; */
  line-height: 60px;
}
.batZoneLeft,
.batZoneRight {
  border-radius: 5%;
  width: 50px;
  /* height: 120px; */
  line-height: 270px;
}
.batZoneTop:hover,
.batZoneBottom:hover,
.batZoneLeft:hover,
.batZoneRight:hover,
.centerZone div:hover {
  background-color: rgba(0, 142, 0, 0.75);
}
