* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* width: 100vw; */
}
title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.mainCon {
  display: flex;
  width: 100vw;
  text-align: center;
  justify-content: center;
  padding-top: 2%;
  padding-left: 4%;
  gap: 2%;
}
.boxCon {
  /* margin: 0 auto; */
  /* align-self: flex-start; */
  padding-left: 4%;
  justify-content: center;
  text-align: center;
}
.pitchGuessCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.boxLegend,
.homeBox,
.awayBox {
  display: flex;
  /* padding-left: 15%; */
}
.blank {
  border: none !important;
}
.boxLegend > span,
.homeBox > span,
.awayBox > span {
  width: 90px;
  font-size: 30px;
  text-align: center;
  color: green;
  /* padding: 0 0.25rem; */
  border: 1px solid rgba(0, 0, 0, 0.75);
}
.gameDetails {
  display: flex;
  font-size: 24px;
  /* align-items: flex-end; */
  /* padding-right: 15%; */
  flex-direction: column;
  text-align: center;
  /* align-content: space-between; */
  /* justify-content: space-between; */
  line-height: 30px;
}
.pitchDetails,
.currentInning {
  width: 75%;
  align-self: center;
}
.pitchGuess {
  padding-top: 3%;
}
.atBatDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-size: 24px;
  /* padding-right: 5%; */
}
.batZoneContainer {
  /* border: 2px solid black; */
  /* display: flex; */
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr, 3fr, 1fr;
  grid-template-rows: 1fr, 3fr, 1fr;
}
.centerZone {
  grid-area: 2 / 2/ 2/ 2;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: grid;
  width: 210px;
  height: 240px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.centerZone div {
  border-radius: 5%;
  display: flex;
  width: 70px;
  height: 80px;
}
.batZoneTop {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}
.batZoneBottom {
  grid-column: 2;
  grid-row: 3;
  align-self: flex-start;
}
.batZoneLeft {
  grid-column: 1;
  grid-row: span 3;
  justify-self: flex-end;
  align-self: center;
}
.batZoneRight {
  grid-column: 3;
  grid-row: 1 / span 3;
  justify-self: flex-start;
  align-self: center;
}
.batZone:hover {
  cursor: crosshair;
}
.pitchIndicator {
  background-color: rgba(131, 42, 42, 0.75);
}
.batZoneTop,
.batZoneBottom,
.batZoneLeft,
.batZoneRight,
.batZone,
.centerZone {
  /* padding-top: 10px; */
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.batZoneTop,
.batZoneBottom {
  border-radius: 5%;
  /* width: 120px; */
  /* height: 40px; */
  line-height: 60px;
}
.batZoneLeft,
.batZoneRight {
  border-radius: 5%;
  width: 50px;
  /* height: 120px; */
  line-height: 270px;
}
.batZoneTop:hover,
.batZoneBottom:hover,
.batZoneLeft:hover,
.batZoneRight:hover,
.centerZone div:hover {
  background-color: rgba(0, 142, 0, 0.75);
}
/* Media Queries */

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .mainCon {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .boxCon {
    justify-content: center;
    padding-bottom: 2%;
    padding-left: 0;
    text-align: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .mainCon {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .boxCon {
    justify-content: center;
    padding-bottom: 2%;
    padding-left: 0;
    text-align: center;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .mainCon {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .boxCon {
    justify-content: center;
    padding-bottom: 2%;
    padding-left: 0;
    text-align: center;
  }
}

@media all and (max-width: 480px) {
  .mainCon {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .boxCon {
    justify-content: center;
    padding-bottom: 2%;
    padding-left: 0;
    text-align: center;
  }
}
