* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
}
title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.mainCon {
  display: flex;
  justify-content: space-around;
  /* width: 500px; */
}
.boxCon {
  display: inline-flex;
  flex-direction: column;
  /* align-self: flex-start; */
  align-self: center;
  flex-grow: 3;
  padding-left: 5%;
  /* flex-grow: 2; */
  /* flex-basis: 300px; */
  /* justify-content: left; */
}
.boxLegend,
.homeBox,
.awayBox {
  /* display: grid; */
  /* gap: 0; */
  display: flex;
  /* flex-basis: 25%; */
  /* justify-content: center; */
  /* padding-left: 5%; */
  /* align-items: center; */
  /* flex-basis: 50%; */
}
.blank {
  border: none !important;
}
.boxLegend > span,
.homeBox > span,
.awayBox > span {
  width: 80px;
  font-size: 30px;
  text-align: center;
  color: green;
  padding: 0 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
}
.currentInning {
  width: 800px;
}
.atBatDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  padding-right: 5%;
}
